
.vscode/settings.json
Assembly-CSharp.csproj
Library/*
LayouTaro.sln
obj/*
Temp/*
miyamasu.log
LayouTaroTests.csproj
Logs/Packages-Update.log
Tests.csproj
UnityEditor.TestRunner.csproj
UnityEngine.TestRunner.csproj
.DS_Store
Assembly-CSharp-Editor.csproj
.vscode/launch.json
sample.csv
sample2.csv
images/*
